* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(243, 248, 255);
}
#frame{
    height: 1000px;
}

#navigation {
    width: 100%;
    height: 70px;
    background-color: rgba(255, 255, 255, 1);
    top: 0px;
    position: fixed;
    z-index: 98;
}

#sidebar {
    width: 240px;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    background-color: rgb(25, 124, 254);
    z-index: 99;

}
#content{
    position: absolute;
    top: 70px;
    left: 240px;
}

/* .content-module {
    width: 1230px;
    height: 790px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 74px;
    left: 35px;
    z-index: 97;
    border-radius: 10px;
} */
#content p{
    font-size: 20px;
    color: red;
}
.content-wordage-div{
    width: 24px;
    height: 8px;
    background-color: #006eff;
    position: absolute;
    left: 80px;
    border-radius: 50px;
}
/* .content-wordage-div1{
    width: 80px;
    height: 40px;
    background-color: rgb(219, 235, 255);
    text-align: center;
    font-size: 14px;
    position: absolute;
    margin-left: 1090px;
    margin-top: -35px;
    color: #006eff;
} */
.content-wordage-div1>span{
    line-height: 40px;
}
/* .content-wordage-div2{
    width: 80px;
    height: 40px;
    background-color: rgb(219, 235, 255);
    text-align: center;
    font-size: 14px;
    position: absolute;
    margin-left: 1180px;
    margin-top: -35px;
    color: #006eff;
} */
.content-wordage-div2>span{
    line-height: 40px;
}
.content-wordage-div{
    margin-left: -30px;
    margin-top: 20px;
}
.content-wordage-span{
    margin-left: 100px;
    font-size: 24px;
    color: black;
}
.content-wordage{
    margin-top: 20px;
}


/* 患者信息 */
.Patient{
    width: 1300px;
    height: 50px;
    background-color:#f2f2f2;
    /* margin: 30px 50px; */
    border-radius: 10px;
    margin: 20px 50px;
}
.Patient>span{
    color: #006eff;
    line-height: 50px;
    margin: 30px;
}
/* 患者姓名 */

.box{
    width: 1300px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
   
}

.gray{
    margin-left: 40px;
    color: gray;
    text-align: center;
    line-height: 70px;
    margin-right: 70px;
}
.gray1{
    color: gray;
    margin-left: 250px;
    margin-right: 70px;
}
/* 患者头像 */
.gray2{
    color: gray;
    margin-left: 230px;
    text-align: center;

}
.box3{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background-color: #e6f1ff;
   position: relative;
   left: 1070px;
   top:-210px;

}

/* 第二个表格样式 */
.box4{
    width: 1300px;
    height: 50px;
    background-color:#f2f2f2;
    border-radius: 10px;
    margin: -50px auto;
}
.box4>span{
 color: #006eff;
        line-height: 50px;
        margin: 30px;
    }
.box5{
    width: 1300px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
}
/* 文字 */
.font-gray{
    color: gray;
    text-align: center;
    line-height: 60px;
    margin-left: 30px;
    margin-right: 30px;
}
.font-black{
    margin-right: 150px;
}
.font-gray1{
    color: gray;
    text-align: center;
    line-height: 60px;
 }
 .font-gray11{
     margin-left: 150px;
 }
 .font-gray2{
    color: gray;
    text-align: center;
    line-height: 50px;
    margin-left: 180px;
    margin-right: 30px;
 }
 .save{
     width: 50px;
     height: 30px;
     margin: -50px 200px;
 }
 .cancel{
     width: 50px;
     height: 30px;
     margin: -50px -150px;
 }