.content-top{
    width: 100%;
    height: 50px;
    background-color: rgb(242,242,242);
    color: #006eff;
    line-height: 50px;
}
.content-top>span{
    width: 50px;
    height: 30px;
    margin:0 30px;
}
.con{
    /* width: 200px; */
    margin: 30px 50px;
    color: rgb(200,200,200);
}
.con>.xx{
    color: red;
}
.con>input{
    width: 300px;
    height: 40px;
    margin-left: 50px;
    border: 1px solid rgb(237,245,245);
    outline-color: rgb(0, 110, 255);
    border-radius: 5px;
}
#sele{
    width: 300px;
    height: 40px;
    margin-left: 50px;
    border: 1px solid rgb(237,245,245);
    border-radius: 5px;
    outline-color: rgb(0, 110, 255);
}
.layui-form{
    display: inline-block;
    margin-left: 70px;
}
.layui-btn{
    width: 100px;
    height: 60px;
    margin-left: 150px;
}